<div class="story-section center-block">
  <h2 class="title">Mission</h2>
  <div class="row">
    <div class="col-md-8">
      <p class="body-text">Sync Up for Zero Waste (SZW) has the mission of bringing to life a unique culture and community that surrounds zero waste. In recognition of the many associations the term has, we strive to create our own definition and lived practice of the term. Through developing relationships across the community, we hope to bring a sense of unity as it strives to bring changes for Swarthmore members to feel more connected to each other and other Earthlings. As a group we acknowledge in humility that zero waste is an ever-changing and everlasting project that will require holistic change. We will model itself off of a new type of organizational structure&mdash;“Spintop”&mdash;to allow for more inclusion, freedom, and diversity</p>
    </div>
    <div class="col-md-4">
      <img src="https://via.placeholder.com/641x472" class="img-responsive">
    </div>
  </div>
</div>

<div class="story-section center-block">
  <h2 class="title">Values</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="body-text">
        <ol>
          <li><strong>Zero Waste is connecting with our community</strong><br> Waste is a part of our lives, and in many ways has begun to be the only marker of modern humanity. As bleak as it sounds, it is also an opportunity to connect with everyone.</li>
          <li><strong>Zero Waste is respecting the tangible world with whom we are one with</strong><br> We now live in a world that has created waste. The fact that it is now legally and socially acceptable to treat waste the way we do is a construct. We need to reconnect with our material world.</li>
          <li><strong>Zero Waste is creation not consumption</strong><br> To trade and buy things is rooted in humanity, to exchange goods and services is a way to create a new life. However the framework of consumerism has changed the mindset of this exchange to something easy and mono-directional, shifting our mindset that every material we interact with is an act of creation can shift our world!</li>
          <li><strong>Zero Waste is courage to change</strong><br> To be against waste is to be against an all-encompassing system.</li>
          <li><strong>Zero Waste is a practice of gifting</strong><br> Our interaction with waste is one that is private and intimate. To act is to gift.</li>
          <li><strong>Zero Waste is being accountable</strong><br> To hold ourselves to a better standards is all we can ask for.</li>
          <li><strong>Zero Waste is not about zero</strong><br> Although the technicalities are important, it is not about reaching “zero,” but rather expanding our compassion towards the infinite contexts that everyone has.</li>
          <li><strong>Zero Waste is _______</strong><br> You, what you want, and an interplay between you and a larger network of material things and other creatures. Every person should be realized and not wasted</li>
        </ol>
      </div>
    </div>
    <div class="col-md-4">
      <img src="https://via.placeholder.com/641x642" class="img-responsive">
      <img src="https://via.placeholder.com/641x749" class="img-responsive">
    </div>
  </div>
</div>
