<h1 class="title">Our Story</h1>

<div class="toggles">
  <button class="btn btn-default" id="btn-mission">Our mission and values</button>
  <button class="btn btn-default" id="btn-members">Members</button>
</div>

<div class="content">
  <div class="section-mission">
    <%= render :partial => 'mission' %>
  </div>
  <div class="section-members">
    <%= render :partial => 'members' %>
  </div>
</div>
