<div class= "values_list">
  <ol class="numbered-list">
      <li>
        <p>Connecting With our Community</p>
       </li>
      <li>
        <p> Respecting the World We Are One With</p>
       </li>
      <li>
        <p> Creation, Not Consumption</p>
       </li>
     <li>
       <p>Courage to Change</p>
      </li>
      <li>
        <p>Practice of Gifting</p>
       </li>
      <li>
         <p>Accountability</p>
      </li>
    <li>
      <p>Not About Zero</p>
     </li>
     <li>
       <p> _______ (You!)</p>
      </li>
  </ol>
</div>
