 
<!-- test  -->
<!-- <button class="button">What We Do</button> -->

<div class="container">
  <div class="sync-up-back">
    <h1>sync up for zero waste</h1>
    <div class="logo-img">
      <%= image_tag"logo.gif", :style => "width:400px; height: auto;" %>
    </div>
    <div class="sync-up-front">
        <a href="/ourstory"><%= image_tag"learnmore.png", :class => "right" %></a>
        <img id="intagram-latest" class="left">
    </div>
  </div>
</div>
