<div class="parallax-container">
      <div class="parallax">
        <%= image_tag("duck.jpg")%>
      </div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Hello!</h2>
        <p class="grey-text text-darken-3 lighten-3">Swat Zero Waste!</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"> <%= image_tag("duck.jpg")%> <!--<img src="/assets/duck-f6d0997fc05e7e728e36c6ebf00dddd7bf30a9b34eab4bf200033ae2e1398c6f.jpg">--></div>
    </div>

<script>
  $('.parallax').parallax();
</script>
