

<!-- <%= image_tag"home_page.jpeg", :style => "width:100%;height:auto;"%> -->

<!-- <button class="button">What We Do</button> -->

<%=button_to "What We do", projects_path, :method =>:get, :class=>"button"%>

<!-- <%= button_tag(type: 'button', class:"button") do%>
  What we do<%end%> -->
