<div class="parallax-container">
      <div class="parallax">
        <%= image_tag"home_page.jpeg", :style => "width:100px;height:auto;"%>
      </div>
    </div>

    <div class="section-white">
      <button type="button" class="block">What we do</button>
    </div>
    <div class="parallax-container">
      <div class="parallax"> <%= image_tag"home_page.jpeg", :style => "width:100px;height:auto;"%></div>
    </div>

<script>
  $('.parallax').parallax();
</script>
