
<!-- test  -->
<!-- <button class="button">What We Do</button> -->

<div class="container">
  <div class="sync-up-back">
    <h1>sync up for zero waste</h1>
    <div class="overlay">
      <!-- TODO: add overlay effect, gif might be too brightly colored taking away from other elements-->
    </div>
    <div class="logo-img">
      <%= image_tag"logo.gif", :style => "width:400px; height: auto;" %>
    </div>
  </div>

  <div class="sync-up-front">
    <div class="sync-up-col">
      <div class="left">
        <a href="https://www.instagram.com/_s.z.w_/"><%= image_tag"instagram.png", :style => "width:300px; height: auto;" %></a>
      </div>
    </div>
    <div class="sync-up-col">
      <div class="right">
        <%= image_tag"instagram.png", :style => "width:300px; height: auto;" %>
      </div>
    </div>
  </div>
</div>
