<!-- <div class="parallax-container">
  Hello
  <div class="parallax">
    <<%= image_tag "duck.jpg", :class => "ducks" %>
  </div>
  Swat Zero Waste!

</div> -->
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="/home/index" class="brand-logo"><img src="https://media.tenor.co/images/6b0a335af3ab919121965caac9cf5e64/raw" style="width:90px;height:60px;">SWARTHMORE ZERO WASTE</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/home/index">HOME</a></li>
      <li><a class="dropdown-trigger" data-target="dropdown1">Our Story<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="">PROJECTS</a></li>
      <li><a href="">ART</a></li>
      <li><a href="">EVENTS</a></li>
      <li><a href="">CONTACT US</a></li>
    </ul>
  </div>
</nav>

<div class="parallax-container">
      <div class="parallax">
        <%= image_tag("duck.jpg")%>
      </div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Hello!</h2>
        <p class="grey-text text-darken-3 lighten-3">Swat Zero Waste!</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"> <%= image_tag("duck.jpg")%> <!--<img src="/assets/duck-f6d0997fc05e7e728e36c6ebf00dddd7bf30a9b34eab4bf200033ae2e1398c6f.jpg">--></div>
    </div>

<script>
  $('.parallax').parallax();
  $(".dropdown-trigger").dropdown();
</script>
