
<!-- test  -->
<!-- <button class="button">What We Do</button> -->

<%=link_to("WHAT WE DO", "/home/index.html#target",:class=>"button") %>

<div class = "container">
  <div class="our_pods">
  <h1><a id="target" href="/pods">Our Pods</a></h1>
    <div class="column">
      <%=image_tag "BYOU1.jpg", :class=>"image"%>
      <div class="overlay">BYOU</div>

    </div>
    <div class="column">
      <%= image_tag "moonevent.jpg",:class=>"image"%>
      <div class="overlay">Moon</div>
    </div>
    <div class="column">
      <%= image_tag "clothesswap1.jpg", :class => "image"%>
      <div class="overlay">Clothes</div>
    </div>
  </div>
</div>
