<div class="pod-entry fade">
  <div class="pod-title">
    <h2> <%= project.title %> </h2>
  </div>
  <div class="image-desc-panel">

    <div class="pod-image-cont">
      <%= image_tag project.picture.url.to_s, :class => "pod-image" %>
    </div>
    <span class="pod-desc">
      <%= project.description %>
    </span>
  </div>

  </div>
