<!-- ** To be thought about more **
Goal: fill in nav bar with corresponding pod names from the database. 
When you click on each pod, you should take the description and image (from db) and create its own page? --> 

<!DOCTYPE html>
<html lang="en">

<head>
    <title>BYOU</title>
</head>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">BYOU</a></li>
                <li><a href="#">Terracycle</a></li>
                <li><a href="#">Break Free From Plastic</a></li>
                <li><a href="#">Butterflies and the Bees</a></li>
            </ul>
        </div>
    </nav>

    <body>
        <a href="/pods/byou">byou link</a>
    </body>
</div>


</html>