<div class="container centered">
  <h1 class="title">Pods</h1>
</div>

<div class="content">
  <div class="section-mission">

  </div>
  <div class="section-members">

  </div>
</div>


<div class="story-section center-block">
  <h2>About</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="body-text">
        <p>  At SZW we have a....</p>
      </div>
    </div>
  </div>
</div>

<div class="story-section right">
  <h2>B You</h2>
  <div class="row">
    <div class="col-md-4">

      <img src="https://via.placeholder.com/641x749" class="img-responsive">
    </div>
  </div>
</div>

<div class="story-section left">
  <h2>Break Free From Plastic</h2>
  <div class="row">
    <div class="col-md-4">

      <img src="https://via.placeholder.com/641x749" class="img-responsive">
    </div>
  </div>
</div>

<div class="story-section right">
  <h2>Terracycle</h2>
  <div class="row">
    <div class="col-md-4">

      <img src="https://via.placeholder.com/641x749" class="img-responsive">
    </div>
  </div>
</div>

<div class="story-section left">
  <h2>Butterflies and The Bees</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="https://via.placeholder.com/641x749" class="img-responsive">
    </div>
  </div>
</div>
