
<div class="pods">
    <h1>Pods</h1>

    <div class="about">
        <p>
        About
        </p>

        <div class="about_text container-fluid">
            <p>
            Text.......
            </p>
        </div>

    </div>


</div>
