<div class="container-fluid">
    <p class="title">Pods</p>

    <!-- nav bar that displays all pods. if current project is displayed, highlight that project -->
    <div class="navpods">
        <div class="navitem">
            <%@projects.order('created_at DESC').each do |title|%>
        </div>
    </div>

    <!-- description -->

    <div class="description">
        <p class="subheading">About</p>
        <p class="body-text"> <%@project.description%> </p>
    </div>

    <!-- photos -->

    <div class="pod_photos">
        <% @project.picture %>
    </div>

</div>