<!-- where we display all of the galleries -->

<!-- to see this page, go to: http://localhost:8000/galleries -->

Our top photos! 

<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="BYOU.jpg")>
    <a class="carousel-item" href="#two!"><img src="clothesswap.jpg">
    <a class="carousel-item" href="#three!"><img src="moonevent.jpg">
    <a class="carousel-item" href="#four!"><img src="crumclean.jpg">
    <a class="carousel-item" href="#five!"><img src="duck.jpg">
</div>

<script>
    $(document).ready(function(){
        $('.carousel').carousel();
    });
</script>