<div class="container-fluid">
  <div class ="span4">
      <h2 class= "title">SYNC UP</h2>
  </div>
<div class = "row">
  <div class ="span4">
    <p class= "subheading">Meeting Schedule</p>
  </div>
  <div
  <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=c2lkaGlrYS50QGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=c3dhcnRobW9yZS5lZHVfYTVxdmpoNDZ1OTdrc3ZhZ2dldGFmNDZqbzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=c3RyaXBhdDFAc3dhcnRobW9yZS5lZHU&amp;color=%233366CC&amp;color=%23329262&amp;color=%231F753C&amp;color=%23402175&amp;color=%236633CC"
  style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>



<div class="story-section center-block justify-content-around">
  <h2 class= "subheading">Social Media</h2>
  <div class="row">
    <div class="body-text row justify-content-between">
      <div class ="story-section col-xs-6 row contact  " role="button">
          <a href="www.instagram.com">
          <h2 class>Instagram</h2>
          </a>
      </div>
      <div class ="story-section col-xs-6 row contact  " role="button">
        <a href="mailto:sidhika.t@gmail.com">
        <h2 >Email Us</h2>
        </a>
      </div>


      </div>
    </div>
  </div>
</div>
