<h1>Sync Up</h1>


<div class="content">
  <div class="section-mission">

  </div>
  <div class="section-members">

  </div>
</div>



<div class="story-section center-block justify-content-around">
  <h2>Social Media</h2>
  <div class="row">
    <div class="body-text row justify-content-between">


      <div class ="story-section col-xs-6 row contact  " role="button">

          <a href="www.instagram.com">
          <h2>Instagram</h2>
          </a>

      </div>

      <div class ="story-section col-xs-6 row contact  " role="button">
        <a href="www.instagram.com">
        <h2>Email Us</h2>
        </a>
      </div>


      </div>
    </div>
  </div>
