<div class="container-fluid">
  <div class ="span4">
      <h2 class= "title">SYNC UP</h2>
  </div>
  <div class = "sync-row">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSexKMKkS3ev6CbS3QODH-cMbkjAPCYwLswYlhR2DFmLUlrL-w/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      <!-- calendar -->
      <iframe src="https://calendar.google.com/calendar/embed?src=c_iqbt1kvefe3b3onp4qdbekesh8%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
      </iframe>
  </div>

<div class="story-section_2">
  <ul class="social-row">
    <li><a href="www.instagram.com/_s.z.w_/">Instagram</a></li>
    <li><a href="mailto:syncupforzerowaste@gmail.com">Email</a></li>
  </ul>
</div>
