/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 * Scope: Entire application
 */

//@import 'materialize';
//@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

  .nav-wrapper{
    background-color: transparent !important;
    font-family:courier;
    position:fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left:0;
  }

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(199, 201, 207, 0.75);
    font-size: 150%;
  }

  li {
    float: left;
  }

  li a {
    display: block !important;
    color: white !important;
    text-align: center !important;
    padding: 14px 50px !important;
    text-decoration: none !important;

  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
/* Dropdown Button */
  li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Dropdown Button */
li a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}
/* The container <div> - needed to position the dropdown content */
li.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black !important;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
color: black !important;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;

}

.dropdown:hover .dropdown-content {
  display: block;

}

body{
  margin-top: 70px;
  height: 100%;
}
