/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 * Scope: Entire application
 */

//@import 'materialize';
//@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cabin&display=swap');

  .navbar {
    overflow: hidden;
    background-color: rgba(145, 167, 100, 0.9);
    font-size: 2em;
    font-family: 'Cabin', sans-serif;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    padding: 0;
  }

  .header {
    padding: 0px;
  }

  .nav-items {
    display: inline-block;
  }

  ul {
    list-style-type: none;
    vertical-align: center;
  }

  .nav-item {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    float: block;
    padding: 10px 40px;
  }

  .nav-item-img {
    margin-top: 0;
    margin-bottom: 0;
  }

  li a {
    display: inline-block !important;
    color: black !important;
    text-align: center !important;
    text-decoration: none !important;
    background-color: inherit;
  }

  .nav-item:hover {
    background-color: rgba(94, 105, 70, 0.25);
    border-radius: 5px;
  }

  /* TODO: take out annoying bootstrap default nav-link hover/active color properties. Low priority. */
  .nav-link {
    background-color: inherit;
    border-radius: 5px;
  }

  .nav-link:active {
    background-color: inherit;
    border-radius: 5px;
  }

  .footer {
    position: absolute;
    background-color: rgba(145, 167, 100, 0.9);
    text-align: center;
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    border-color: black;
    border-width: 2px;
    bottom: 0px;
    width: 100%;
  }


