// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.contact:hover {
  background-color: rgba(94, 105, 70, 0.25);
  color: rgba(94, 105, 70, 0.25);
  text-emphasis-color: none;
  border-radius: 2px;
}
