// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center{
    text-align: center;
    margin: auto;
}

.gallery-header{
    padding-left: 15px;
    font-family: courier;
}

.gallery {
    border: 5px; //does this work
    size: 200px !important;
}


  