// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ducks{
  height: 500px !important;
  width: 500px !important;
}

.section-white{
  background-color: clear !important;
  height: auto;
}

.block {
  display: block;
  background-color: green ;
  border: none;
  width: 100%;
  color: white;
  padding: 14px 28px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

html,body{
  height:100%;
}
