// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {box-sizing: border-box}

html{
  width: 100% !important;
  position: absolute;
}

.sync-up-back {
  font-family: 'Abril Fatface', cursive;
  z-index: -5;
  text-align: center;
  display: table;
  position: relative;
  margin: 0 auto;
  padding-bottom: 5em;
}

.sync-up-back h1 {
  color: black;
  padding-bottom: 1em;
  font-size: 4em;
}

.sync-up-front-left {
  width: 50%;
  margin-left: 0;
  z-index: 2;
  float:left;
  position: relative;
  display: block;
  margin-top: -55%;
  padding-right: 5em;
  padding-left: 0;
}

.sync-up-front-right {
  width: 50%;
  margin-right: 0;
  position: relative;
  display:block;
  z-index: 1;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

nav {
  text-align: center;
}
