// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {box-sizing: border-box}

html{
  width: 100% !important;
  position: absolute;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
}

.sync-up-back {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  display: table;
  position: relative;
  margin: 0 auto;
  padding-bottom: 5em;
}

.sync-up-back h1 {
  color: black;
  padding-bottom: 1em;
  font-size: 4em;
}

.sync-up-front {
  z-index: 1;
  width: 100%;
  position: relative;
  margin-top: -35%;
  align-content: center;
}

.right {
  width: 30%;
  text-align: right;
  float: right;
}

.left {
  width: 30%;
  text-align: left;
  float: left;
}

.logo-img {
  z-index: -3;
}