// Place all the styles related to the ourstory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
    background: #91A764;
    border: 1.5px solid #000000;
    display: inline-block;
}

.centered {
    display: flex;
    justify-content: center;
}

.toggles {
    display: flex;
    justify-content: space-around;
}

.content {
    margin-top: 32px;
}

.story-section {
    max-width: 800px;
    margin-bottom: 32px;

    h2 {
        background: #91A764;
        display: inline-block;
        margin: 0;
        padding: 8px 32px;
    }
    .body-text {
        background: #C5CEB4;
        border: 1.5px solid #000000;
        padding: 16px;
    }
    img {
        margin-bottom: 32px;
    }
}
