// Place all the styles related to the ourstory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.toggles {
    display: flex;
    justify-content: space-around;
}

.story-section {
    max-width: 800px;
    margin-bottom: 32px;

    h2 {
        display: inline-block;
        margin: 0;
    }
    img {
        margin-bottom: 32px;
    }
}

.biographies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.biography {
    display: flex;
    margin-bottom: 32px;

    img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .description {
        margin-left: -40px;
        max-width: 700px;
    }

    .intro {
        background: #C5CEB4;
        display: inline-flex;
        flex-direction: column;
        padding: 0 16px;
        font-size: 1.2em;
        p {
            display: inline-block;
        }
    }

    .body {
        background: #C5CEB4;
        margin-left: 50px;
        padding: 16px;
    }
}
