// Place all the styles related to the Posters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button{
  margin-top:5px !important;
  margin-left: auto;
}
.row {
  width: 100%
}
.events{
  margin-left: 40%;
  margin-right: 40%;
  width: auto;
  border: 2px solid black;
  background-color: #91A764;
}
