// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pods {
  padding: 10px;
}
 
// p {
//   font-family: 'Abril Fatface',garamond,serif;
//   font-size:35px;
//   font-style:bold;
// }

h3 {
  font-size: 28px;
  text-align: center;
  background: #91A764;
  display: inline-block;
  padding: 8px 32px;
  margin: 0 auto 16px auto;
  border: 2px solid black;
}

.about {
  //position
  height: 45px;
  //width: 100px;
  margin-left: 30px;

  //outline and border
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(145, 167, 100, 1);
  background-color: rgba(145, 167, 100, 1);

}

.about_text {
  //position
  height: 90px;
  //width: 500px;
  flex: 1;
  margin-top: -20px;

  //outline and border
  outline: none;
  border: 2px solid #cdcdcd;
  border-color: rgba(1, 1, 1, .75);
  background-color: rgba(145, 167, 100, .75);
}

// Place all the styles related to the ourstory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
    background: #91A764;
    border: 1.5px solid #000000;
    display: inline-block;
}

.centered {
    display: flex;
    justify-content: center;
}

.toggles {
    display: flex;
    justify-content: space-around;
}

.content {
    margin-top: 32px;
}

.story-section {
    max-width: 2000px;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        background: #91A764;
        display: inline-block;
        padding: 8px 32px;
        margin-bottom: 16px;
        border: 2px solid black;
    }
    img {
        margin-bottom: 32px;
    }
}

.pod-img {
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.navitem {
    float: left;
}